* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #83a4d4, #b6fbff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-app {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

.button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

#weatherInfo {
  margin-top: 20px;
}

#weatherInfo.hidden {
  display: none;
}

#cityName {
  font-size: 24px;
  color: #2c3e50;
}

#temperature {
  font-size: 22px;
  color: #e74c3c;
}

#description {
  font-size: 18px;
  color: #7f8c8d;
}

img {
  width: 100px;
  margin-top: 10px;
}
